parameters:
    level: 9
    paths:
        - src/Phoenix4041
    scanDirectories:
        - vendor/pocketmine/pocketmine-mp/src
        - vendor/pocketmine/pocketmine-mp/generated
        - src/muqsit
        - src/CortexPE
    treatPhpDocTypesAsCertain: false
